// Media queries

@mixin xss-down {
    @media only screen and (max-width: $small) {
        @content;
    }
}

@mixin xs-down {
    @media only screen and (max-width: $s-tablet) {
        @content;
    }
}

@mixin sm-down {
    @media only screen and (max-width: $m-tablet) {
        @content;
    }
}

@mixin md-down {
    @media only screen and (max-width: $tablet) {
        @content;
    }
}

@mixin lg-down {
    @media only screen and (max-width: $medium) {
        @content;
    }
}

@mixin overlay($bg-color: rgba(#000, .2), $z-index: 1, $position: relative) {
    position: $position;

    &:before {
        content: '';
        position: absolute;
        z-index: $z-index;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: $bg-color;
    }
}

@mixin hide-scrollbar {
    -ms-overflow-style: none; // IE 10+
    scrollbar-width: none; // Firefox

    &::-webkit-scrollbar {
        display: none; // Safari and Chrome
    }
}

@mixin thin-scrollbar($color) {
    scrollbar-width: thin;
    scrollbar-color: rgba($color, .5) rgba($color, .2);

    &::-webkit-scrollbar {
        width: 7px;
        height: 5px;
        background-color: rgba($color, .2);
        border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($color, .5);
        border-radius: 20px;
    }
}

@mixin centered($val) {
    display: flex;
    align-items: center;
    justify-content: $val;
}

@mixin link-hover {
    position: relative;
    background-image: linear-gradient(to right, #00ccb9, #5640d3 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s $easing;

    &::before {
        content: '';
        background: linear-gradient(90deg, rgba(86,64,211,1) 0%, rgba(0,204,185,1) 100%);
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        transition: width 0.3s $easing;
    }

    &:hover {
        background-position: 0;

        &::before {
            width: 100%;
        }
    }
}