%h1 {
    font-family: $font-main;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.2;

    @include sm-down {
        font-size: 3.4rem;
    }

    @include xs-down {
        font-size: 2.4rem;
    }
}

%h2 {
    font-family: $font-main;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
}

%h3 {
    font-family: $font-main;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.2;
}

h1 {
    @extend %h1;
}
  
h2 {
    @extend %h2;
}
  
h3 {
    @extend %h3;
}

%text {
    font-family: $font-main;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.2;
}

p, li, span {
    @extend %text;
}

.subtitle {
    color: $light-grey;
    font-size: 3rem;
    padding-bottom: 3rem;
    display: block;
}
