/* Devices */

$small: 420px;
$s-tablet: 768px;
$m-tablet: 1024px;
$tablet: 1280px;
$medium: 1440px;
$large: 99999px;

/* Colors */

$dark: #171717;
// $dark: #3e3e3e;
$dark50: #252532;
$box-shadow-color: rgb(0, 86, 171);

/* Font */

$font-main: "Exo2", sans-serif;
$font-second: "Attentica", sans-serif;

/* Easing */

$easing: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeOut: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeText: cubic-bezier(0.165, 0.84, 0.44, 1);