@font-face {
    font-family: 'Attentica';
    src:
        url('./attentica4fultralight.woff2') format('woff2'),
        url('./attentica4fultralight.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
