.anim-left {
    &.anim-inner {
        transform: translateX(-200%);
        transition: all .35s .35s $easeText;
    }
}

.anim-appear {
    opacity: 0;
    transition: opacity 3.5s .5s;
}

@keyframes bg-scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
  
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.75;
    }
}
  